$menuBreakPoint: 955px;

.section.intro {
    min-height: 600px;
    position: relative;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    align-items: center;

    @media (max-width: $menuBreakPoint) {
        
        flex-direction: column;
    }
}

img.profilephoto {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    z-index: inherit;
}

img.sectionwords {
    max-width: 100%;
    max-height: 375px;
    height: auto;
    z-index: inherit;
}