<div class="section intro">

    <!-- Profile Photo -->
    <img class="profilephoto" src="/assets/profileimg.png" alt="profile photo" />

    <div class="introcontainer">

        <!-- Intro Text -->
        <img class="sectionwords" src="/assets/intro.png" alt="intro text" />

        <ul class="titlelist">
            <li>
                Creative Video Producer
            </li>
            <li>
                Motion Graphics Designer
            </li>
            <li>
                Multimedia Specialist
            </li>
        </ul>
    </div>
    
</div>
