$menuBreakPoint: 960px;

.section.intro {
    height: 650px;
    position: relative;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    align-items: center;

    @media (max-width: $menuBreakPoint) {
        
        flex-direction: column;
    }
}

img.profilephoto {
    max-width: 100%;
    min-width: 225px;
    object-fit: contain;

    @media (max-width: 650px) {
        
        max-width: 350px;
        padding: 0 10px;
    }
}

img.sectionwords {
    max-width: 100%;
    min-width: 225px;

    @media (max-width: $menuBreakPoint) {
        
        max-width: 350px;
        padding: 15px 0;
    }

}