<div class="section intro">

    <!-- Container for section -->
    <div class="intro_container">

        <!-- Profile Photo -->
        <img class="profilephoto" src="/assets/tayprofile.png" alt="profile photo" />

        <!-- Intro Text -->
        <div class="introverbiage">

            <img class="title" src="/assets/tayheader.png" alt="logo" />

            <div class="sectionwords">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis nulla et sem dapibus maximus. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare maximus lectus id varius. 
                    Aliquam malesuada sit amet nunc nec vulputate. Donec tempus eleifend sapien sit amet mattis. 
                    Vivamus pharetra nisl id erat cursus, quis dictum enim dignissim. Nulla pulvinar, 
                    justo eu pretium elementum, odio justo varius ante, sit amet egestas nulla neque ut mi. 
                    Morbi nec enim suscipit, dapibus orci ac, ornare ligula. Ut aliquam a risus non fermentum. 
                    Quisque pharetra dui eu libero tristique efficitur. Etiam turpis nulla, aliquet vitae condimentum sed, 
                    cursus sit amet ipsum. Suspendisse fermentum non mauris at fermentum. Nulla facilisi. 
                    Mauris sit amet ornare massa, quis tincidunt diam.
                </p>
            </div>

        </div>
    </div>

</div>
