<div class="sociallinks"> 
    <a href="https://www.facebook.com/Tay2theMar" target="_blank">
        <img src="/assets/facebook.png" alt="facebook" class="social facebook">
    </a>
    <a href="https://www.instagram.com/tay2themar" target="_blank"> 
        <img src="/assets/instagram.png" alt="instagram" class="social instagram">
    </a>
    <a href="https://www.youtube.com/@MrTaymizzle" target="_blank"> 
        <img src="/assets/youtube.png" alt="youtube" class="social youtube">
    </a>
</div>
