<div class="sociallinks"> 
    <ul>
        <li>
            <a href=""> <img src="/assets/pinterest.png" alt="pinterest" class="social"></a>
        </li>
        <li>
            <a href=""> <img src="/assets/facebook.png" alt="pinterest" class="social"></a>
        </li>
        <li>
            <a href=""> <img src="/assets/twitter.png" alt="pinterest" class="social"></a>
        </li>
        <li>
            <a href=""> <img src="/assets/instagram.png" alt="pinterest" class="social"></a>
        </li>
        <li>
            <a href=""> <img src="/assets/youtube.png" alt="pinterest" class="social"></a>
        </li>
    </ul>
</div>
