$menuBreakPoint: 955px;
$menuHeight: 50px;

.sociallinks {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    flex-direction: column;
    top: 0;
    margin: 5px 5px;

    @media (max-width: $menuBreakPoint) {
        margin: 50px 0px;
    }
}

img.social {
    text-decoration: none;
    padding: 10px 10px;
    margin: 0;
    object-fit: contain;
}

img.pinterest {
    max-width: 38px;
}

img.facebook {
    max-width: 38px;
}

img.twitter {
    max-width: 40px;
}

img.instagram {
    max-width: 45px;
}

img.youtube {
    max-width: 45px;
}