$menuBreakPoint: 955px;
$menuHeight: 50px;

.sociallinks {
    position: absolute;
    display: block;
    height: 40px;
    bottom: 0;
    right: 0;

    @media (max-width: $menuBreakPoint) {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 150px;
        width: 300px;
        flex-wrap: wrap;
        margin: 0 25px;
    }
}

.social {
    width: 45px;
    height: 45px;
    text-decoration: none;
    padding: 10px 10px;
}