.contact {
    position: relative;
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.contactbox {
    padding: 15px 5px;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}