<div class="section contact">
    <div class="contactbox">
        <h1 class="contacttitle">Let's Connect</h1>

        <p class="contactbody">
            Have a project in mind, or just want to say hello? I'd love to hear from you.
            Send me an email below and I'll be sure to respond within a reasonable time period.
        </p>

        <a class="emailbutton" href="mailto:Tamarsmith07@yahoo.com">Email Me</a>

        <p class="signature">
            Thank you,<br>
            Tamar Smith
        </p>
    </div>
</div>
