$menuBreakPoint: 955px;
$menuHeight: 50px;

.banner {
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 888;
}

.banner-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50px;
    white-space: nowrap;
}

.banner-primary {
    background-color: none;
    color: #fff;
}

.topbar {
    display: block;
}

.bottombar {
    display: block;
}

// Logo
.taylogo {
    display: inline-block;
    padding-left: 12px;
    color: #EB5656;
    width: 327px;
    height: 126px;
}

// Navigation
#taynav {

    float: right; 
    font-family: "copperplate";
    font-weight: lighter;
    font-size: 22px;
    min-height: 100%;
    margin-left: auto;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        padding: 0 10px;
        display: none;
        cursor: pointer;
        padding-top: 30px;

        i {
            color: #999;
            line-height: $menuHeight;
        }

        @media (max-width: $menuBreakPoint) {
            display: block;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        padding-top: 30px;
        transition: right 2s ease;

        @media (max-width: $menuBreakPoint) {
            width: 300px;
            position: absolute;
            top: 70px;
            background-color: #000;
            flex-direction: column;
            right: -34%;
            z-index: 999;
            height: 600px;

            &.is-open {
                right: 0%;
            }
        }

        .menu-item {
            padding: 10px 35px;
            height: $menuHeight;
            line-height: $menuHeight;
            text-decoration: none;
            display: block;
            color: #EB5656;

            @media (max-width: 1260px) {
                padding: 10px 30px;
            }

            @media (max-width: 1150px) {
                padding: 10px 10px;
            }

            @media (max-width: $menuBreakPoint) {
                height: 100%;
                line-height: 40px;
                padding: 10px 0px;
                width: 100%;
                text-align: center;
            }
        }
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
    .taynav {display: none;}
    .taynav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1000px) {
    .taynav.responsive {position: relative;}
    .taynav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .taynav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }