<!-- Banner Section -->
<div class="banner">

    <!-- Logo Section -->
    <img class="taylogo" src="./assets/Tay2theMarAltLogo.png" alt="Tamar Logo">

    <!-- Navigation Menu -->
    <nav id="taynav">
        <div class="burger" (click)="toggleMenu()">
            <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }} </i>
        </div>
        <div class="menu" [class.is-open]="isMenuOpen">
            <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/'" (click)="toggleMenu()">Home</a>
            <a class="menu-item" [class.is-open]="isMenuOpen" href="#portfolio" (click)="toggleMenu()">Portfolio</a>
            <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'#references'" (click)="toggleMenu()">References</a>
            <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/urltoresumefile'" (click)="toggleMenu()">Resume</a>
            <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'contact'" (click)="toggleMenu()">Contact</a>
        </div>

        <!-- Social Media links -->
        <app-social></app-social>
    </nav>
</div>

