<!-- Banner Section -->
<div class="banner">

    <!-- Logo Section -->
    <div id="logo" class="tayicon-logo-render taysimple">
        <a [routerLink]="'/'"><img class="tayicon taylogo" src="./assets/Tay2theMarAltLogo.png" alt="Tamar Logo"></a>
    </div>

    <!-- Navigation Menu -->
    <nav id="taynav">
        <div class="burger" (click)="toggleMenu()">
            <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }} </i>
        </div>
        <div class="menucontainer" [class.is-open]="isMenuOpen">
            <div class="menu">
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/'" (click)="toggleMenu()">Home</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" href="#portfolio" (click)="toggleMenu()">Portfolio</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/references'" (click)="toggleMenu()">References</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/resume'" (click)="toggleMenu()">Resume</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/contact'" (click)="toggleMenu()">Contact</a>
            </div>
        </div>
    </nav>
</div>

<!-- Social Media links -->
<app-social></app-social>

