$menuBreakPoint: 960px;
$menuHeight: 3rem;

.banner {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    @media (max-width: $menuBreakPoint) {
        //
    }
}

// Logo
.taylogo {
    color: #EB5656;
    max-width: 450px;
    width: 350px;

    @media (max-width: 700px) {
        //
    }

    @media (max-width: 440px) {
        //
    }
}

.tayicon-logo-render {
    display: block;
}

// Navigation
#taynav {

    position: relative;
    display: flex;
    font-family: "copperplate";
    font-weight: lighter;
    flex-grow: 2;
    justify-content: right;
    z-index: 999;

    @media (max-width: $menuBreakPoint) {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100% - 65px);
    }

    .burger {
        padding: 0 10px;
        display: none;
        cursor: pointer;
        padding-top: 30px;
        position: absolute;
        top: 0;
        right: 0;

        i {
            color: #999;
            line-height: $menuHeight;
        }

        @media (max-width: $menuBreakPoint) {
            display: block;
        }
    }

    .menucontainer {

        display: flex;
        align-items: center;

        @media (max-width: $menuBreakPoint) {
            top: 0;
            right: 0;
            margin-top: 65px;
            background-color: #000;
            transition: width 1.2s ease;
            overflow: hidden;
            width: 0px;
            align-items: flex-start;
            flex-direction: column;

            &.is-open {
                width: 300px;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        @media (max-width: $menuBreakPoint) {
            display: flex;
            width: 300px;
            flex-direction: column;
        }

        .menu-item {
            display: inline-block;
            text-decoration: none;
            color: #EB5656;
            position: relative;
            padding: 2px 20px;
            transform: perspective(1px) translateZ(0);
            -webkit-transform: perspective(1px) translateZ(0);
            overflow: hidden;
            
            @media (max-width: 1260px) {
                //padding: 10px 30px;
            }

            @media (max-width: 1150px) {
                padding: 10px 10px;
            }

            @media (max-width: $menuBreakPoint) {
                height: 3rem;
            }
        }

        .menu-item:hover:before, .menu-item:focus:before, .menu-item:active:before {
            right: 0;
        }

        .menu-item:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: #F4E100;
            height: 4px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
    .taynav {display: none;}
    .taynav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1000px) {
    .taynav.responsive {position: relative;}
    .taynav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .taynav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }