<!-- Banner Section -->
<div class="banner">

    <!-- Logo Section -->
    <img class="taylogo" src="./assets/Tay2theMarAltLogo.png" alt="Tamar Logo">

    <!-- Navigation Menu -->
    <nav id="taynav">
        <ul>
            <li class="burger" (click)="toggleMenu()">
                <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }} </i>
            </li>
            <li class="menu" [class.is-open]="isMenuOpen">
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/'" (click)="toggleMenu()">Home</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'#portfolio'" (click)="toggleMenu()">Portfolio</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'#references'" (click)="toggleMenu()">References</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'/urltoresumefile'" (click)="toggleMenu()">Resume</a>
                <a class="menu-item" [class.is-open]="isMenuOpen" [routerLink]="'contact'" (click)="toggleMenu()">Contact</a>
            </li>
        </ul>

        <!-- Social Media links -->
        <app-social></app-social>
    </nav>
</div>

