<div class="blurbsection">
    <div class="topicsection">
        <div class="topic">
            <div class="topicheader">
                <div class="topicicon">
                    <img src="/assets/CameraIcon.png" alt="Notebook">
                </div>
                <div class="topictitle">
                    Video Editing
                </div>
            </div>
            <div class="topicbody">
                <p>
                    With a strong foundation in film production and a passion for visual
                    storytelling, I bring years of hands-on experience in video post-production,
                    animation, and graphic design. I’m proficient across the Adobe Creative
                    Suite—especially Premiere Pro, After Effects, Photoshop, and
                    Illustrator—and skilled in camera operation, motion graphics, and editing
                    workflows from concept to final export.
                </p>
            </div>
        </div>
        <div class="topic">
            <div class="topicheader">
                <div class="topicicon">
                    <img src="/assets/NotebookIcon.png" alt="Notebook">
                </div>
                <div class="topictitle">
                    Projects
                </div>
            </div>
            <div class="topicbody">
                <p>
                    Over the years, I’ve worked on a wide range of projects, including
                    promotional content, branded editorials, documentaries, and social-first
                    media. Whether I’m managing a full video shoot, capturing clean audio, or
                    fine-tuning frame-by-frame animations, I take pride in creating visually
                    compelling, emotionally engaging content that resonates with audiences.
                </p>
            </div>
        </div>
        <div class="topic">
            <div class="topicheader">
                <div class="topicicon">
                    <img src="/assets/GroupIcon.png" alt="Notebook">
                </div>
                <div class="topictitle">
                    Motivation
                </div>
            </div>
            <div class="topicbody">
                <p>
                    I’m known for my collaborative spirit, creative eye, and ability to wear
                    many hats in fast-paced environments. I thrive in both independent and
                    team settings and bring a calm, can-do energy to every production.<br><br>

                    Currently open to remote or local opportunities in the Baltimore
                    area—including freelance, contract, or full-time roles—in video editing,
                    production, animation, or multimedia storytelling.
                    Let’s connect and create something great.
                </p>
            </div>
        </div>
    </div>
</div>
