
<div id="portfolio" class="section portfolio">

    <div class="sectionheader">
        <img class="header" src="/assets/multimedia.png" alt="logo" />
    </div>

    <div class="media-scroller">

        @for (item of media(); track item.url) {
            <div class="media-element">
                @if (item.kind === 'video') {
                    <video class="videolink" width="560" height="315" [src]="item.url" controls></video>
                } @else {
                    <iframe class="videolink" width="560" height="315" [src]="item.url" title="Embedded video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                }
            </div>
        }

    </div>
</div>

