<div class="section portfolio">
    
    <div class="sectionheader">
        <img class="header" src="/assets/tayportfolio.png" alt="logo" />
    </div>

    <div class="sectionlinks">

        <div class="linkitem">
            <iframe class="videolink" src="https://www.youtube.com/embed/FPEP4waYQEU?si=UCMPj2HLOmMpBRYX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>        
        <div class="linkitem">
            <iframe class="videolink" src="https://www.youtube.com/embed/U5cK0gVOz_Q?si=kEkLApaBSi2AzSaO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="linkitem">
            <iframe class="videolink" src="https://www.youtube.com/embed/lllYGchv6mw?si=1I8f5YOnPD_OIb7F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="linkitem">
            <iframe class="videolink" src="https://www.youtube.com/embed/bovzgCDolbg?si=ZBvjFpQoiZiGLuZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

</div>

