$menuBreakPoint: 960px;

.section.portfolio {
    height: 700px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;

    @media (max-width: $menuBreakPoint) {
        height: 350px;
        justify-content: center;
    }
}

.sectionheader{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

    @media (max-width: $menuBreakPoint) {
        display: none;
    }
}

.media-scroller {
    display: flex;
    position: relative;
    flex-direction: row;
    // Allow to scroll without affecting page width
    overflow-x:scroll;
    // Won't scroll other elements. We only scroll on inline axis
    overscroll-behavior-inline: contain;
    z-index: inherit;
    flex-grow: 2;
    align-items: center;

    @media (max-width: $menuBreakPoint) {
        
        flex-grow: 0;
    }
}

.media-element {
    padding: 10px 50px;

    @media (max-width: $menuBreakPoint) {
        
        padding: 10px 25px;
    }
}

.media-element > .videolink {
    inline-size: 100%;
    height: 350px;
    width: 400px;
    object-fit: cover;

    @media (max-width: $menuBreakPoint) {
        
        height: 225px;
        width: 300px;
    }
}