
<div id="portfolio" class="section portfolio">

    <div class="sectionheader">
        <img class="header" src="/assets/tayportfolio.png" alt="logo" />
    </div>

    <div class="media-scroller">
      
        <div class="media-element">
            <iframe class="videolink" width="560" height="315" src="https://www.youtube.com/embed/xF7LvFjxxKY?si=23F0ZGPYmiOMyx6a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>
</div>

