
<div id="portfolio" class="section portfolio">
    
    <!-- Alt Triangles -->
    <img class="backgroundtri trileftalt"  src="/assets/whitetrianglealt.png" alt="white triangle" />
    <img class="backgroundtri triright"  src="/assets/redtrianglealt.png" alt="white triangle" />

    <div class="sectionheader">
        <img class="header" src="/assets/tayportfolio.png" alt="logo" />
    </div>

    <div class="media-scroller">
      
        <div class="media-element">
            <iframe class="videolink" src="https://www.youtube.com/embed/U5cK0gVOz_Q?si=kEkLApaBSi2AzSaO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="media-element">
            <iframe class="videolink" src="https://www.youtube.com/embed/lllYGchv6mw?si=1I8f5YOnPD_OIb7F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="media-element">
            <iframe class="videolink" src="https://www.youtube.com/embed/bovzgCDolbg?si=ZBvjFpQoiZiGLuZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="media-element">
            <iframe class="videolink" src="https://www.youtube.com/embed/bovzgCDolbg?si=ZBvjFpQoiZiGLuZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="media-element">
            <iframe class="videolink" src="https://www.youtube.com/embed/bovzgCDolbg?si=ZBvjFpQoiZiGLuZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="media-element">
            <iframe class="videolink" src="https://www.youtube.com/embed/bovzgCDolbg?si=ZBvjFpQoiZiGLuZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

